/* FOTO FUNDO  */
body {
    margin: 0;
    padding: 0;

    /* Fundo */
    background-image: url('./icons/Fundo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* Cores padrão */
    background-color: #ffffff;
    color: #333333;

    transition: background-color 0.3s ease, color 0.3s ease;
}

/* MODO ESCURO TOTAL */
body.dark-mode {
    background-color: #1a1a1a;
    color: #fffefe;




}

/* MODO ESCURO DO ASIDE + NEON*/
body.dark-mode #aside {
    background: #000000;
    color: #ffffff;
    border: 2px solid rgb(254, 255, 255);

    box-shadow:
        0 0 15px rgba(0, 255, 0, 0.15),
        inset 0 0 10px rgba(0, 255, 187, 0.08);

}

/* BARRA LATERAL + MENSAGEM MENU*/
#aside {
    position: fixed;
    top: 0;
    left: 0;

    width: 150px;
    height: 100vh;

    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-shadow: 0 0 0px #000000;

    padding: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;

    box-sizing: border-box;
    z-index: 5;

    transition: transform 0.3s ease-in-out, background-color 0.3s ease;
    border: 2px solid rgb(0, 0, 0);

    box-shadow:
        0 0 15px rgb(0, 0, 0),
        inset 0 0 10px rgb(255, 255, 255);




}

/* TITULO DO MENU */
#aside h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    margin-bottom: 30px;
}

/* ESCONDER O MENU */
#aside.hidden {
    transform: translateX(-100%);
}

/* BOTÃO ABRIR MENU */
#AbrirMN {
    position: absolute;
    right: 15px;
    top: 15px;

    z-index: 10;

    background: rgb(33, 33, 33);
    color: white;

    padding: 10px;
    border-radius: 5px;

    cursor: pointer;
}

/* BOTÃO TEMA */
button:has(#theme) {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: transform 0.2s ease;
}

button:has(#theme):hover {
    transform: scale(1.1);
}

/* Links */
.links {
    color: rgb(0, 0, 0);
    text-shadow: 0 0 0px #000000;

    text-decoration: none;
    display: block;
    margin: 0px 0;
}

/* dark mode links */
body.dark-mode .links {
    color: #ffffff;
    text-shadow: 0 0 5px #dfdfdf;

}

/* BOTAO DA FOTE */
.btn-topo {
    width: 26px;
}


/* CONTROLAR MAIN */
main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(0);
    transition: transform 0.3s ease;
}

/* CONTROLA O DESLOCAMENTO DA MAIN QUANDO O MENU ABRE */
main.menu-aberto {
    transform: translateX(70px);
}

/* FUNDO DA MAIN TEMA CLARO*/
main>div {
    border: 2px solid #bdbdbd;

    box-shadow: none;
    /* 👈 aqui o neon some no modo claro */

    background-color: #ffffff;
    color: #000;

    padding: 20px;
    width: 750px;
    border-radius: 50px;

    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

/* FUNDO DA MAIN NO MODO ESCURO */
body.dark-mode main>div {
    background-color: #000000;
    color: #ffffff;

    box-shadow:
        0 0 15px rgba(0, 255, 0, 0.15),
        inset 0 0 10px rgba(0, 255, 187, 0.08);
}


.Inicio {
    text-align: center;
}

.Textos {
    text-align: center;
    font-family: "Press Start 2P", sans-serif;
}


/* FOTO DE PERFIL */
.foto-perfil {
    height: 200px;
    width: 120px;
    object-fit: cover;
    margin: 20px;
    border-radius: 20px;
    border: 2px solid #000000;
    box-shadow: none;
    animation: none;
}

/* NEON VERDE DARK MODE */
body.dark-mode main>div {
    border: 2px solid rgb(255, 255, 255);
    box-shadow:
        0 0 15px rgba(0, 255, 0, 0.15),
        inset 0 0 10px rgba(0, 255, 187, 0.08);
    background-color: #111;
    color: #f7f7f7;
}

/* NEON VERDE ESCURO FOTO */
body.dark-mode .foto-perfil {
    border: 2px solid rgb(255, 255, 255);

    box-shadow:
        0 0 15px rgba(0, 255, 200, 0.3);
}

/* FOTO DAS RECEITAS */
.receitas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    gap: 30px;
    /* espaço entre as imagens */
    padding: 20px;
    /* espaço das bordas */
}

.Receitaslog img {
    width: 150px;
    height: 250px;

    object-fit: cover;

    border-radius: 20px;
    border: 2px solid #000;

    transition: transform 0.3s ease;
}

.Receitaslog img:hover {
    transform: scale(1.05);
}

.Receitaslog {
    text-decoration: none;
}

body.dark-mode .Receitaslog img {
    border: 2px solid rgb(255, 255, 255);

    box-shadow:
        0 0 15px rgba(232, 145, 145, 0.3);
}

/* tabela Curriculo*/
table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
}

.fotoCR {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    align-items: center;
    display: block;
    margin: 0 auto;

    border: 2px solid rgb(0, 0, 0);


}

body.dark-mode .fotoCR {
    border: 2px solid rgb(255, 255, 255);

    box-shadow:
        0 0 15px rgba(0, 255, 0, 0.15),
        inset 0 0 10px rgba(0, 255, 187, 0.08);
}

/* O container principal que centraliza tudo na página */
.contato {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.contato {
    display: flex;
    justify-content: center;
    padding: 2px;
}


#formContato button {
    padding: 10px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    align-items: center;
    display: block;
    margin: 0 auto;
}

#formContato input,
#formContato textarea {
    width: 100%;
    max-width: 400px;
    display: block;
    margin-bottom: 15px;
}

/* fotos das Receitas */
.Receita {
    width: 750px;
    height: 300px;

    object-fit: cover;

    border-radius: 20px;
    border: 2px solid #000;

    transition: transform 0.3s ease;
}
/* Dark Receitas Neon */
body.dark-mode .Receita {
    border: 2px solid rgb(255, 255, 255);

    box-shadow:
        0 0 15px rgba(0, 255, 0, 0.15),
        inset 0 0 10px rgba(0, 255, 187, 0.08);
}

.Texto {
    text-align: center;
    align-items: center;
}